.right-banner {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: calc((100% - 960px) / 2);
}

.headphones-case2 {
  position: absolute;
  background-image: url("../img/headphones-case2.png");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 425px;
  height: 384px;
}

.right-banner-wrapper {
  position: absolute;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
}

@media (max-width: 1900px) {
  .headphones-case2 {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 1770px) {
  .headphones-case2 {
    transform: translate(-50%, -50%) scale(0.7);
  }

  .right-banner-wrapper {
    transform: translateX(-50%) scale(0.8);
  }
}

@media (max-width: 1460px) {
  .headphones-case2 {
    transform: translate(-50%, -50%) scale(0.4);
  }

  .right-banner-wrapper {
    transform: translateX(-50%) scale(0.6);
  }
}
