.top-banner {
  margin: 0 auto;
  width: 960px;
  height: 250px;
}

.label {
  background-image: url("../img/label.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  width: 516px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 10px;
}

.promo {
  margin: 0;
  font-size: 29px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}
