@font-face {
  font-weight: 400;
  font-family: "HuaweiSans";
  font-style: normal;
  src: url("../fonts/HuaweiSans.woff2") format("woff2"),
    url("../fonts/HuaweiSans.woff") format("woff");
  font-display: swap;
}

@keyframes scale {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  font-family: $main-font;
  color: $color-black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
