$color-black: #000000;
$color-white: #ffffff;
$color-red: #c30c15;
$main-font: "HuaweiSans", "Arial", sans-serif;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
